button {
    display: relative;
    background-color: rgb(55, 49, 59);
    color: white;
    cursor: pointer;

}
#button2 {
  background-color: white !important;
  color: black;
}



button:hover {
  opacity: 30%;
}

h4 {
  color: black;
}


  
 
  
 

  /* Add Animation */
  @keyframes animatetop {
    from {top: -800px; opacity: 0}
    to {top: 0px; opacity: 1}
  }

  .container2 .quote {
    margin-left: 30px !important;
    margin-bottom: 20px;
  }



.container2 {
  z-index: 2;
  background: rgb(255, 255, 255);
  line-height: 40px;
  font-weight: lighter;
  padding: 40px;
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.container2 {
  padding: 2em;
  grid-gap: 2em;
  padding-top:0 !important;

}



.pages {
  display: flex;
}
article {
  background:rgb(233, 229, 229);
  grid-gap: 2em !important;
  border-radius: 1em !important;
}

article::after {
  content: '';
  position: absolute;
  right: 2em;
  display: inline-block;

}

.left {
  grid-gap: 2em !important;
  border-radius: 1em !important;
  width: 60%;
}

.right {
  width: 40%;
  background: rebeccapurple;
  grid-gap: 2em !important;
  border-radius: 1em !important;
  color: white;
  font: white;
  margin-top: 1.5em !important;
  padding-top: 1.5em !important;
}

.pages {
  background: linear-gradient(-135deg, transparent 1.5em, rgb(233, 229, 229)0);
  margin-bottom: 1em !important;
  padding-bottom: 1em !important;
}

.pages::after {
  width: 2.13em;
  height: 2.13em;
  background-color: rebeccapurple;
  background: linear-gradient(-135deg, transparent 1.5em, rebeccapurple 0);
}
  

.close {
  color: transparent;
  background-color: transparent;
  position: absolute;
  right: 2em;
  display: inline-block;
  z-index: 99;
  width: 10em;
  height: 10em;
  border: transparent;
}

.containerHalf {
  padding: 2em !important;
  grid-gap: 2em !important;
  border-radius: 1em !important;
}

.containerLeft {
  padding: 2em;
  display: grid;
  grid-gap: 2em;
  border-radius: 1em;
}


.maz {
  overflow: hidden;
  background-color: White;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 98%; /* Full width */
  margin-left: -1%;
  z-index: 99999999999999;
}

/* Links inside the navbar */
.maz a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.maz a:hover {
  
  color: black;
}

nav ul {
  text-transform: uppercase;
}

nav a {
  display: block;
  padding: 0 10px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
nav-main {
  position: sticky;
}
/*  */
#nav-main li {
  list-style-type: none;
  margin: 10px 15px;
}

/*  */
#nav-main li .fa {
  transition: .6s;
  line-height: 0px;
}

/*  */

/*  */
#nav-main li a {
  position: relative;
  display: block;
  margin: 10px 10px;
  border-radius: 0%;
  text-align: center;
  line-height: 50px;    
  height: 50px;
  transition: .6s;
}

#nav-main li a:hover {
  transform: translate(0, -10px);
}

/*  */
#nav-main li:nth-child(1) a:hover{
  color: rebeccapurple;  
}
/*  */
#nav-main li:nth-child(2) a:hover{
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(3) a:hover{
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(4) a:hover{
  color: rebeccapurple;
}

#nav-main li:nth-child(5) a:hover{
  color: rebeccapurple;
}


#nav-main .active { 
  color: rebeccapurple !important ;
  text-decoration: underline 5px;
}

