<header id="navHeader" class="scrollto clearfix" data-enllax-ratio="0.5">  
    <div id="navBanner-content" class="argument clearfix">
        <div class="col-Head">
            <div class="headSection">
                <h1>{{header.heading}}</h1>
                <h2 class="wow animate__animated animate__hinge">{{header.headingText}}</h2>
            </div>
            <a href="mailto: mahan9879@gmail.com" class="button">Email Me</a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
