.coll-Head {
    width: 50% !important;
    text-align: center !important;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    color: rebeccapurple;
}

.button:hover {
    transform: translate(0, -10px);
}


[class*='coll-'] {
    text-align: center;
   

    
  
}

.headSection h1:before{
    background:rebeccapurple;
    content:"";
    display:block;
    width:30px;
    height:5.3px;
    margin-bottom:30px;
}


/* DEMO-SPECIFIC STYLES */
.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rebeccapurple }
  }

