.coll-Head {
    width: 50% !important;
    text-align: center !important;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid rebeccapurple; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rebeccapurple }
  }

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    color: rebeccapurple;
}

.button:hover {
    transform: translate(0, -10px);
}


[class*='coll-'] {
    text-align: center;
   

    
  
}

.headSection h1:before{
    background:rebeccapurple;
    content:"";
    display:block;
    width:30px;
    height:5.3px;
    margin-bottom:30px;
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #89164f;

  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  float: left;
  height: 900px;
  line-height: 71px;
  margin-left: 15px;
  margin-top: 2px !important;
}

#logo img {
  max-height: 50px;
  vertical-align: middle;
  margin-right: 15px;
}


.maz {
  overflow: hidden;
  background-color: White;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100% !important; /* Full width */
  
  z-index: 99999999999999;
}

/* Links inside the navbar */
.maz a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.maz a:hover {
  
  color: black;
}

nav ul {
  text-transform: uppercase;
}

nav a {
  display: block;
  padding: 0 10px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
nav-main {
  position: sticky;
}
/*  */
#nav-main li {
  list-style-type: none;
  margin: 10px 15px;
}

/*  */
#nav-main li .fa {
  transition: .6s;
  line-height: 0px;
}

/*  */

/*  */
#nav-main li a {
  position: relative;
  display: block;
  margin: 10px 10px;
  border-radius: 0%;
  text-align: center;
  line-height: 50px;    
  height: 50px;
  transition: .6s;
}

#nav-main li a:hover {
  transform: translate(0, -10px);
}

/*  */
#nav-main li:nth-child(1) a:hover{
  color: rebeccapurple;  
}
/*  */
#nav-main li:nth-child(2) a:hover{
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(3) a:hover{
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(4) a:hover{
  color: rebeccapurple;
}

#nav-main li:nth-child(5) a:hover{
  color: rebeccapurple;
}


#nav-main .active { 
  color: rebeccapurple !important ;
  text-decoration: underline 5px;
}
