.col-Head {
    width: 38.2% !important;
}

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    color: rebeccapurple;
}

.button:hover {
    transform: translate(0, -10px);
}




.headSection h1:before{
    background:#000000;
    content:"";
    display:block;
    width:30px;
    height:5.3px;
    margin-bottom:30px;
}


