<aside>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--Social Icons in Header-->
    <ul class="social-icons">
        <li>
            <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi">
                <i class="fa  fa-github"></i><span>GitHub</span>
            </a>
        </li>
        <li>
            <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/mahan-sharifi-05447b1ab/">
                <i class="fa fa-linkedin fa-1x"></i><span>Linkedin</span>
            </a>
        </li>
        <li>
            <a target="_blank" title="Mail" href="mailto: mahan9879@gmail.com">
                <i class="fa fa-mail-forward fa-1x"></i><span>Gmail</span>
            </a>
        </li>
        <li>
            <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
            </a>
        </li>
        
    </ul>
</aside>