aside {
    float: right;
}

aside {
    text-align: right;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    text-align: center;
}

.social-icons a:hover {
    opacity: 100;
    
}
.social-icons a i:hover {
    opacity: 100;
}

.social-icons span {
    display: none;
}

.social-icons {
    margin-top: 27px;
}

/*  */
.social-icons li {
    list-style-type: none;
    margin: 0px 15px;
}

/*  */
.social-icons li .fa {
    transition: .6s;
    line-height: 30px;
}

/*  */
.social-icons a i:hover
{
    color: #fff !important;
}

/*  */
.social-icons li a {
    position:relative;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px 0px;
    border-radius: 50%;
    text-align: center;
    line-height: -10px;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    margin-right: 10px;
}

/*  */
.social-icons li a:hover {
    transform: translate(0, -10px);
}

/*  */
.social-icons li:nth-child(1) a:hover{
    background-color: #171515;
    
}
/*  */
.social-icons li:nth-child(2) a:hover{
    background-color: #0077B5;
}

/*  */
.social-icons li:nth-child(3) a:hover{
    background-color: #e4405f;
}

/*  */
.social-icons li:nth-child(4) a:hover{
    background-color: #e4405f;
}
