.projBoxContent {
  background: #fff;
  padding: 0px 0 0px 0;
  box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.07);
  position: relative;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}

.projBox h3 {
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 0;
}

.projSub {
  color: #ccc;
  margin: 10px 0 25px 0;
}

.projContent {
  background: #f5f5f5;
  padding: 25px;
  position: relative;
  min-height: 400px;
}

.projContent p {
  color: #b4b4b4;
  line-height: auto;
  margin: 0;
  text-align: left;
}

.gitHub {
  padding: 10px;
  position: relative;
  background-color: rebeccapurple;
  width: 100%;
  margin-left: 0%;
}

.gitHub a {
  color: azure;
}

.cont {
  display: inline-block;
}

.cont2 {
  display: inline-block;
}

h6 {
  color: rebeccapurple;
}

.maz2 {
  overflow: hidden;
  background-color: White;
  position: fixed;
  top: 0;
  width: 100.3%;
  margin-left: -1em;
  z-index: 1;
}

/* Links inside the navbar */
.maz2 a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.maz2 a:hover {
  color: black;
}

nav ul {
  text-transform: uppercase;
}

nav a {
  display: block;
  padding: 0 10px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

nav-main {
  position: sticky;
}

/*  */
#nav-main li {
  list-style-type: none;
  margin: 10px 15px;
}

/*  */
#nav-main li .fa {
  transition: 0.6s;
  line-height: 0px;
}

/*  */

/*  */

#nav-main li a:hover {
  transform: translate(0, -10px);
}

/*  */
#nav-main li:nth-child(1) a:hover {
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(2) a:hover {
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(3) a:hover {
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(4) a:hover {
  color: rebeccapurple;
}

#nav-main li:nth-child(5) a:hover {
  color: rebeccapurple;
}

#nav-main .active {
  color: rebeccapurple !important;
  text-decoration: underline 5px;
}
