<section id="Projects" class="txt scrollto clearfix " data-enllax-ratio="0.2">
    <div class="argument clearfix" data-enllax-ratio="0.2">
        
        <div>
            <h3>:)(:</h3>
            <h2>Projects</h2>
            <h6>CLICK GITHUB FOR CODE OR CLICK PROJECT BOX FOR MORE DETAIL</h6>
        </div>
        <div class="cont">

        
        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="0.4s">
                <div class="projBoxContent" >
                        
                    <h3>JSON Parser Validator</h3>
                    <h6>November 2021</h6>
                    <p class="projSub">C#, Dapper, Stored Procedures (SQL), JSON, VS., .Net Framework, Fluent Email</p>
                    <div class="projContent">
                        <div class="">
                            <img src="assets/images/gallery-images/JsonParser.jpg">
                        </div>
                        <p>Designed a JSON Parser Validator that was later deployed on batch machine using C# (Console app.) by 
                            executing stored procedures with Dapper, deserializing the object, and developing a particular set of configuration rules in JSON.
                            Continuously completed functional tests after deployment.
                             <br>
                            <br>        
                            <br> 
                        </p>
                        CODE AVAILABLE UPON REQUEST
                        <BR>
                    </div>
                
                <div class="gitHub">
                    
                </div>
            </div>
        </div>

        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="0.6s">
            <div class="projBoxContent">
                <a routerLink="/Biquadris">
                <h3>Biquadris</h3>
                <h6>August 2021</h6>
                <p class="projSub">C++ (OOP), Windows X, X11, Design Patterns</p>
                <div class="projContent">
                    <div class="">
                        <img src="assets/images/gallery-images/biquadris.jpg">
                    </div>
                    <p>-	Fully functional two-player object-oriented Tetris game with no memory leaks, and bonus features.<br>
                        -	Implemented a decorator and designed a MVC UML diagram<br>
                        <br>
                        <br>
                        
                        </p>
                        CODE AVAILABLE UPON REQUEST
                </div>
                </a>
                <div class="gitHub">
                    
                </div>
            </div>
        </div>

        
        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="0.8s">
            <div class="projBoxContent">
                <h3>Personal Website </h3>
                <h6>December 2021</h6>
                <p class="projSub"> Angular, CSS/HTML/JS/TS, Rapid API </p>
                <div class="projContent">
                    <div class="">
                        <img src="assets/images/gallery-images/personalWeb.jpg">
                    </div>
                    <p>-	A cross-platform fully responsive portfolio created with a great understanding of DOM.
                     <br>
                        <br>
                        <br>
                        </p>
                        AS SEEN :)
                </div>
                <div class="gitHub">
                    <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi/PersonalWebsite3.0">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="cont2">
        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="1.0s">
            <div class="projBoxContent">
                <a routerLink="/LEDDice">
                <h3>Digital Electronic Dice</h3>
                <h6>February 2020</h6>
                <p class="projSub"> KiCad </p>
                <div class="projContent">
                    <div class="">
                        <img src="assets/images/gallery-images/ED.jpg">
                    </div>
                    <p>Developed a schematic diagram on KiCad and then soldered in electric pieces to create an LED Dice with  
                        sequence designed to begin with output 2 to make the circuit more power efficient.</p>
                        <br>
                        <br>
                        CLICK ME FOR MORE
                </div>
                </a>
                <div class="gitHub">
                    <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi/LED-Dice">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="1.2s">
            <div class="projBoxContent">
                <a routerLink="/VBA">
                <h3>VBA Math Calculator </h3>
                <h6>September 2020</h6>
                <p class="projSub">VBA, Excel, ActiveX Controls </p>
                <div class="projContent">
                    <div class="">
                        <img src="assets/images/gallery-images/quad grid.jpg">
                    </div>
                    <p>-	Developed multiple mathematical calculator using VBA that helps users identify patterns and relationships in correspondence to their inputted data and function. <br>
                        -	Implemented ActiveX controls (COM components) to improve ease of use and user functionality. <br>
                        </p>
                        <br>
                        <br>
                        CLICK ME FOR MORE
                </div>
                </a>
                <div class="gitHub">
                    <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi/VBA-Math-Calculator">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="projBox col-about wow animate__animated animate__pulse" data-wow-delay="1.4s">
            <div class="projBoxContent">
                <h3>Rock Paper Scissors </h3>
                <p class="projSub">Java </p>
                <div class="projContent">
                    <p>Rock Paper Scissor game in Java where the user plays with the computer. <br>
                    Implemented cases to increase efficiency in code.</p>
                </div>
                <div class="gitHub">
                    <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi/Rock-Paper-Scissors">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<router-outlet></router-outlet>


