
<div class="container2">
  <section id=contact class="">
    <div class="argument txt">
      <h1>{{contact.title}}</h1>
      <p>{{contact.data}}<a href="mailto: mahan9879@gmail.com">email me</a></p>
        <ul class="social-icons">
          <li>
              <a target="_blank" title="GitHub" href="https://github.com/MahanSharifi">
                  <i class="fa  fa-github"></i><span>GitHub</span>
              </a>
          </li>
          <li>
              <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/mahan-sharifi-05447b1ab/">
                  <i class="fa fa-linkedin fa-1x"></i><span>Linkedin</span>
              </a>
          </li>  
      </ul>
    </div>
</section>
</div>

<router-outlet></router-outlet>
