.introduction img.featured {
    padding: 55px 0 0 0;
}

.quote3 {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
    margin: 1em;
    width: 40%;
}