<router-outlet>
<section id="about" class="container txt scrollto"> 
    <div class="argument clearfix">
        <div class="col-3">
            <div>
                <h3>{{title.titleText}}</h3>
                <h2 class="aboutTitle">{{title.titleHeader}}</h2>
                <p class="aboutSubtitle"></p>
                <p> I aspire to be a creative software developer as technology has been a passion of mine since I can remember and I love working backend and frontend. I am motivated to continue learning and expanding my repertoire.
                <br>
                <br>
                I enjoy coding, playing soccer, and hanging out with my friends in my free time.
                <br> 
                <br>
                For my resume, please contact me via any of the social icons above, or email.
            </p>
            </div>
        </div>

        <div class="col-2-3">
            <div class="col-2 wow fadeInUp quote3" data-wow-delay="0.1s">
                <div class="iconAbout">
                    <i class="fas fa-university fa-2x"></i>
                </div>
                <div>
                    <h4>{{University.title}}</h4>
                    <p>{{University.about}}</p>
                </div>
            </div>

            
        
            <div class="col-2 wow fadeInUp quote3" data-wow-delay="0.3s">
                <div class= "iconAbout">
                    <i class="fas fa-toolbox fa-2x"></i>
                </div>
                <div>
                    <h4>{{tools.title}}</h4>
                    <p>{{tools.about}}</p>
                </div>
            </div>


            <div class="col-2 wow fadeInUp quote3" data-wow-delay="0.5s">
                <div class="iconAbout">
                    <i class="fas fa-microchip fa-2x"></i>
                </div>
                <div>
                    <h4>{{freeTime.title}}</h4>
                    <p>Sep. 2021 -> Dec. 2021</p>
                    <p>{{freeTime.about}} <br> CLICK ME</p>
                    
                </div>
            </div>


            <div class="col-2 wow fadeInUp quote3" data-wow-delay="0.5s">
                <div class="iconAbout">
                    <i class="fas fa-code fa-2x"></i>
                </div>
                <div>
                    <h4>{{lang.title}}</h4>
                    <p>{{lang.about}}</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--End of Introduction-->
