<div id="header" >
    <div class="argument clearfix" >
        <div class="col-nav">
            <div id="logo">
                <img src="assets/images/logo-2.png" id="first-logo" alt="Landing Page"/>
                <img src="assets/images/logo-2.png" id="second-logo" alt="Landing Page"/>
            </div>
            <app-social></app-social>
            <app-navigation></app-navigation>
            <div id="nav-box"><span></span></div>
            <nav id="nav-content-pages"></nav>
        </div>
    </div>
</div>