<div id="header" >
    <div class="argument clearfix" >
        
        <div class="col-1">
            <div id="logo">
                <img src="../assets/images/logo-2.png" id="banner-logo" alt="Landing Page"/>
                <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
                
            </div>
            
            <app-social></app-social>
            <app-navigation></app-navigation>
            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>
        </div>
    </div>
</div><!--End of Header-->