<!--Visual Basics Created-->


<div id="VBA" class="container2">
<div class="quote2">
    <h3>Visual Basics Math Calculator<p>Janaury 2020</p></h3>
        <a href="https://github.com/MahanSharifi/Math-Calculator-for-Different-Functions" target="_blank">GitHub Code
        </a>
        <p> Designed a math calculator for reciprocal, radical, and quadratic functions. The buttons were created using
            activeX controls to complete specific tasks (i.e. clear inputs, calculate inverse/transformation).
            Mathamtical equations were used on VBA to complete each calculation.
            <br>
            How it works: User picks the function they need and input values in the specific boxes. By clicking a button,
            the values of each point in the transformation, inverse and other forms of the equation are presented to the user.
            A graph is also formed to allow the user to understand the image of the function clearly.
            <br>
            Further improvments: Currently working on implementing Epsilon defintions and limits within a new sheet. 
            <br>
            
        </p>
        <div class="slide-pager">
            <div class="slides">
                <!--Buttons start-->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!--Radio Buttons start-->
                <!--Images in Slide-->
                <div class="slide first">
                     <img src="assets/images/gallery-images/recip VBA.jpg" class="responsive" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/gallery-images/radical grid.jpg" class="responsive" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/gallery-images/quad grid.jpg" class="responsive" alt="">
                </div>
                <div class="slide">
                   <img src="assets/images/gallery-images/reciprocal grid.jpg" class="responsive" alt="">
                </div>
            </div>
            <!--Slides Finished-->
            <!--manuel navigation start-->
            <div class="navigation-manual">
                <label for="radio1" class="manuel-btn"></label>
                <label for="radio2" class="manuel-btn"></label>
                <label for="radio3" class="manuel-btn"></label>
                <label for="radio4" class="manuel-btn"></label>
            </div>   
            <!--manuel navigation end-->
        </div>
        <p class="caption"><br>Photo: VBA reciprocal code, Quadratic, Radical, and Recirocal sheet</p>
        <!--Slide Pager Finished-->
        
</div>
<!--Visual Basics Finished-->
</div>

<router-outlet></router-outlet>