
<div class="container2 ">
    <div id="JSONParser" class="quote" >
        <h3>JSON Parser Validation Tool<p>November 2021</p></h3>
        <p>-	Designed a VS Console App using C# by executing stored procedures with Dapper and developing a particular set of configuration rules in JSON. <br>
            -	Parsed JSON string by deserializing objects and then validating columns with configuration rules. <br>
            -	Logged data in different files based on results and sent out emails to QAs using Fluent Email. <br>
            -	Deployed on batch machine and completed regular functional Testing to fix bugs assigned by QAs.    <br>        
            
            <p class="wow txt"><img src="assets/images/gallery-images/JsonParser.jpg" class="responsive"></p>
        
        <p class="caption"><br>Photo: Code is confidential. </p>
    </div>
    
</div>

<router-outlet></router-outlet>
