<div id="TECH" class="container2 txt">
      <h1>{{tech.title}}</h1>
      <h6>{{tech.sub}}</h6>
      <div class="modal2"  [ngStyle]="{'display':display0}">
            <div class="modal-dialog" >
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">{{coop.title}}<br> {{coop.date}}</h4>
                              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled0()"><span aria-hidden="true">&times;</span></button>
                         </div>
                   <div class="modal-body">
                              <p>
                                    {{coop.contentA}}<br>
                                    {{coop.contentB}} <br>
                                    {{coop.contentC}}<br>
                                    {{coop.contentD}}
                              </p>
                   </div>
                        <div class="modal-footer"></div>
                   </div>
             </div>
        </div>
          <button  id="button2" class="quote wow animate__animated animate__pulse" data-wow-delay="0.4s" type="button" (click)="openModal0()">{{coop.title}}<br> {{coop.date}}</button>

          
      <div class="modal"  [ngStyle]="{'display':display}">
            <div class="modal-dialog" >
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">{{youth.title}} <br> {{youth.date}}</h4>
                              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                   <div class="modal-body">
                              <p>{{youth.content}}</p>
                   </div>
                        <div class="modal-footer"></div>
                   </div>
             </div>
        </div>
          <button class="quote wow animate__animated animate__pulse" data-wow-delay="0.6s" id="button" type="button" (click)="openModal()">{{youth.title}} <br> {{youth.date}}</button>

          <div class="modal"  [ngStyle]="{'display':display2}">
            <div class="modal-dialog" >
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">{{robot.title}}<br> {{robot.date}}</h4>
                              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled2()"><span aria-hidden="true">&times;</span></button>
                         </div>
                   <div class="modal-body">
                              <p>{{robot.content}}</p>
                   </div>
                        <div class="modal-footer"></div>
                   </div>
             </div>
      </div>
          <button class="quote wow animate__animated animate__pulse" data-wow-delay="0.8s" id="button" type="button" (click)="openModal2()">{{robot.title}} <br> {{robot.date}}</button>

          <div class="modal"  [ngStyle]="{'display':display3}">
            <div class="modal-dialog" >
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">{{deca.title}}<br> {{deca.date}}</h4>
                              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled3()"><span aria-hidden="true">&times;</span></button>
                         </div>
                   <div class="modal-body quote">
                              <p>{{deca.content}}<br>
                                    {{deca.contentB}} <br>
                                    {{deca.contentC}}</p>
                   </div>
                        <div class="modal-footer"></div>
                   </div>
             </div>
        </div>
          <button class="quote wow animate__animated animate__pulse" data-wow-delay="1.0s" id="button" type="button" (click)="openModal3()">Deca @ Resurrection CSS 2019/2020<br> School Executive, Regional Winner</button>

          <div class="modal"  [ngStyle]="{'display':display4}">
            <div class="modal-dialog" >
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">{{football.title}}<br> {{football.date}} </h4>
                              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled4()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                              <p>{{football.content}}</p>
                        </div>
                  <div class="modal-footer"></div>
            </div>
            </div>
      </div>
      <button class="quote wow animate__animated animate__pulse" data-wow-delay="1.2s" id="button" type="button" (click)="openModal4()">{{football.title}}<br> {{football.date}} </button>   
</div>
<router-outlet></router-outlet>