button {
  cursor: pointer;
  margin-right: 1em;
}

#button2 {
  color: black !important;
}

.quoteCustom:hover {
  opacity: 30%;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -800px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.container2 .quote {
  margin-left: 30px !important;
  margin-bottom: 20px;
  margin-top: 0px;
}

.container2 {
  z-index: 2;
  background: rgb(255, 255, 255);
  line-height: 40px;
  font-weight: lighter;
  padding: 40px;
  padding-top: 0px !important;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2 {
  padding: 2em;
  grid-gap: 2em;
  padding-top: 10em;
}

.modalNew {
  padding-bottom: 2em;
}

.pages {
  display: flex;
}
article {
  background: rgb(233, 229, 229);
  grid-gap: 2em !important;
  border-radius: 1em !important;
}

article::after {
  content: "";
  position: absolute;
  right: 2em;
  display: inline-block;
}

.left {
  grid-gap: 2em !important;
  border-radius: 1em !important;
  width: 60%;
}

.right {
  width: 40%;
  background: #719cf8;
  grid-gap: 2em !important;
  border-radius: 1em !important;
  color: white;
  font: white;
  margin-top: 1em !important;
  padding-top: 1em !important;
}

.pages {
  background: linear-gradient(-135deg, transparent 1.5em, rgb(233, 229, 229) 0);
}

.pages::after {
  width: 2.13em;
  height: 2.13em;
  background-color: #719cf8;
  background: linear-gradient(-135deg, transparent 1.5em, #719cf8 0);
}

.close {
  color: transparent;
  background-color: transparent;
  position: absolute;
  right: 2em;
  display: inline-block;
  z-index: 99;
  width: 10em;
  height: 10em;
  border: transparent;
}

.containerHalf {
  padding: 2em !important;
  grid-gap: 2em !important;
  border-radius: 1em !important;
}

.containerLeft {
  padding: 2em;
  display: grid;
  grid-gap: 2em;
  border-radius: 1em;
}

.leftTeranet {
  grid-gap: 2em !important;
  border-radius: 1em !important;
  width: 60%;
  padding: 1em;
}

.rightTeranet {
  width: 40%;
  background: #90ee90;
  grid-gap: 2em !important;
  border-radius: 1em !important;
  color: white;
  font: white;
  margin-top: 1em !important;
  padding-top: 1em !important;
}


.right3 {
  width: 40%;
  background: #a5c2ff;
  grid-gap: 2em !important;
  border-radius: 1em !important;
  color: white;
  font: white;
  margin-top: 1em !important;
}

.pagesTeranet {
  display: flex;
  background: linear-gradient(-135deg, transparent 1.5em, rgb(233, 229, 229) 0);
}

.pagesTeranet::after {
  width: 2.13em;
  height: 2.13em;
  background: linear-gradient(-135deg, transparent 1.5em, #90ee90 0);
}

.quote {
  color: white !important;
}

.right {
  color: white;
}
.DLP {
  color: white;
}

.pagesDes {
  display: flex;
  background: linear-gradient(
    -135deg,
    transparent 1.5em,
    rgb(233, 229, 229) 0
  ) !important;
}

.pagesDes::after {
  width: 2.13em;
  height: 2.13em;
  background-color: #a5c2ff;
  background: linear-gradient(-135deg, transparent 1.5em, #a5c2ff 0) !important;
}

svg {
  position: absolute;
}

#gooey-button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #0c1016;
  filter: url("#gooey");
  position: relative;
  background-color: #719cf8;
}
#gooey-button:focus {
  outline: none;
}
#gooey-button .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button .bubbles .bubble {
  background-color: #719cf8;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

#gooey-button2 {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #0c1016 !important;
  filter: url("#gooey");
  position: relative;
  background-color: #90ee90;
}
#gooey-button2:focus {
  outline: none;
}
#gooey-button2 .bubbles2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button2 .bubbles2 .bubble {
  background-color: #90ee90;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

#gooey-button3 {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #0c1016 !important;
  filter: url("#gooey");
  position: relative;
  background-color: #a5c2ff;
}
#gooey-button3:focus {
  outline: none;
}
#gooey-button3 .bubbles3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button3 .bubbles3 .bubble {
  background-color: #a5c2ff !;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

.ds {
  color: #a5c2ff;
  font-weight: bolder !important;
  font-size: 1.2em;
  display: relative;
}

.uc {
  color: #719cf8;
  font-weight: bolder !important;
  font-size: 1.2em;
  display: relative;
}

.tt {
  color: #90ee90;
  font-weight: bolder !important;
  font-size: 1.2em;
  display: relative;
}

.maz {
  overflow: hidden;
  background-color: White;
  position: fixed;
  top: 0;
  width: 100.3%;
  margin-left: -3em;
  z-index: 1;
}

/* Links inside the navbar */
.maz a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.maz a:hover {
  color: black;
}

nav ul {
  text-transform: uppercase;
}

nav a {
  display: block;
  padding: 0 10px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
nav-main {
  position: sticky;
}
/*  */
#nav-main li {
  list-style-type: none;
  margin: 10px 15px;
}

/*  */
#nav-main li .fa {
  transition: 0.6s;
  line-height: 0px;
}

/*  */

/*  */

#nav-main li a:hover {
  transform: translate(0, -10px);
}

/*  */
#nav-main li:nth-child(1) a:hover {
  color: rebeccapurple;
}
/*  */
#nav-main li:nth-child(2) a:hover {
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(3) a:hover {
  color: rebeccapurple;
}

/*  */
#nav-main li:nth-child(4) a:hover {
  color: rebeccapurple;
}

#nav-main li:nth-child(5) a:hover {
  color: rebeccapurple;
}

#nav-main .active {
  color: rebeccapurple !important ;
  text-decoration: underline 5px;
}
