
.container2 {
    z-index: 2;
    background: rgb(255, 255, 255);
    line-height: 40px;
    font-weight: lighter;
    padding: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.container2 {
    padding: 2em;
    grid-gap: 2em;
    padding-top:10em;

}