<!--Electronic Dice Created-->
<div class="container2">


<div id="LEDDice" class="quote" >
    <h3>LED Dice<p>February 2020</p></h3>
    <p>Soldered a 555 time IC (NE555), 4017 counter IC, resistors (5mm: 330 x3, 470, 10k x3), diodes (D035-7), and LEDs (5mm) after having 
        designed a schematic diagram on KiCad to organize the different pathways. The 555 timer provides clock pulses at 5kHz to allow the 4017 
        counter to have a total of 10 outputs. Output 6 is designed to reset as it is a dice. 
        Battery clip for 9V, DIL sockets for ICs: 8-pin for 555 chip, 16-pin for 4017, push switch, 
        capacitors (5mm, 0,01 uF, 0.1uF), solder.
        <p class="wow"><img src="assets/images/gallery-images/ED.jpg" class="responsive"></p>
    
    <p class="caption"><br>Photo: Digital Electronic Dice</p>
</div>

</div>
<!--Electronic Dice Finished-->