<div class="container2 ">
    <div id="Biquadris" class="quote" >
        <h3>{{biq.title}}<p>{{biq.date}}</p></h3>
        <h6>For access to code, design pdf, and uml, please send me an <a href="mailto: mahan9879@gmail.com">email me</a></h6>
        <p>{{biq.contentA}} <br>
            {{biq.contentB}}<br>
            {{biq.contentC}}
            <br>
            {{biq.contentD}}
            <br>        
            <p class="wow txt"><img src="assets/images/gallery-images/biquadris.jpg" class="responsive"></p>
        <p class="caption"><br>{{biq.caption}}</p>
    </div>
</div>