.container2 {
    z-index: 2;
    background: rgb(255, 255, 255);
    line-height: 40px;
    font-weight: lighter;
    padding: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.container2 {
    padding: 2em;
    grid-gap: 2em;
    padding-top:10em;
}

.responsive {
    width: 50%;
    height: auto;
}

h3 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;   
}

h6 {
    padding-top: 0 !important;
    margin-top: 0 !important;
}