<div class="container2 ">
    <div id="Biquadris" class="quote" >
        <h3>Biquadris<p>August 2021</p></h3>
        <h6>For access to code, design pdf, and uml, please send me an <a href="mailto: mahan9879@gmail.com">email me</a></h6>
        <p>-	Fully functional two-player object-oriented Tetris game with no memory leaks, and bonus features. <br>
            -	Implemented a decorator pattern to keep the code clean, easy to manage, and clear. <br>
            -	Designed an MCV UML Diagram to organize project and understand relationships between each class. <br>
            -	Worked with two group members over several weeks to accomplish the goal. <br>        
            <p class="wow txt"><img src="assets/images/gallery-images/biquadris.jpg" class="responsive"></p>
        <p class="caption"><br>Photo: Biquadris Game, Code Available upon request.</p>
    </div>
</div>